
<!-- Main Container Fluid -->
	<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		
		
		<!-- Top navbar END --><div class="container-960 innerTB">

	<h3 class="glyphicons circle_info margin-none"><i></i>About Us</h3>
	<div class="separator bottom"></div>

	<div class="widget widget-heading-simple widget-body-gray">
		<div class="widget-body"><p class="lead center margin-none">Lorem Ipsum Dolor.</p></div>
	</div>
	
	<!-- Row -->
	<div class="row-fluid">
	
		<!-- Thumbnails -->
		<ul class="thumbnails">
		
			<!-- Column -->
			<li class="span4">
			
				<!-- Thumbnail -->
				<div class="thumbnail widget-thumbnail">
					<img data-src="holder.js/100%x200" alt="100%x200 Image Holder" />
					<div class="caption">
						<h4>John Doe</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						
						<!-- Social Icons -->
						<a href="" class="glyphicons standard primary facebook"><i></i></a>
						<a href="" class="glyphicons standard twitter"><i></i></a>
						<a href="" class="glyphicons standard linked_in"><i></i></a>
						<div class="clearfix"></div>
						<!-- // Social Icons END -->
					</div>
				</div>
				<!-- // Thumbnail END -->
				
			</li>
			<!-- // Column END -->
			
			<!-- Column -->
			<li class="span4">
			
				<!-- Thumbnail -->
				<div class="thumbnail widget-thumbnail">
					<img data-src="holder.js/100%x200" alt="100%x200 Image Holder" />
					<div class="caption">
						<h4>Jane Doe</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						
						<!-- Social Icons -->
						<a href="" class="glyphicons standard primary facebook"><i></i></a>
						<a href="" class="glyphicons standard twitter"><i></i></a>
						<a href="" class="glyphicons standard linked_in"><i></i></a>
						<div class="clearfix"></div>
						<!-- // Social Icons END -->
					</div>
				</div>
				<!-- // Thumbnail END -->
				
			</li>
			<!-- // Column END -->
			
			<!-- Column -->
			<li class="span4">
			
				<!-- Thumbnail -->
				<div class="thumbnail widget-thumbnail">
					<img data-src="holder.js/100%x200" alt="100%x200 Image Holder" />
					<div class="caption">
						<h4>John Doe</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						
						<!-- Social Icons -->
						<a href="" class="glyphicons standard primary facebook"><i></i></a>
						<a href="" class="glyphicons standard twitter"><i></i></a>
						<a href="" class="glyphicons standard linked_in"><i></i></a>
						<div class="clearfix"></div>
						<!-- // Social Icons END -->
					</div>
				</div>
				<!-- // Thumbnail END -->
				
			</li>
			<!-- // Column END -->
			
		</ul>
		<!-- // Thumbnails END -->
		
	</div>
	<!-- // Row END -->
	
	<p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>
	<div class="separator bottom"></div>

	<div class="row-fluid">
		<div class="span6">
		
			<div class="widget widget-heading-simple widget-body-white">
				<div class="widget-body">
					<div class="innerL">
						<div class="separator bottom"></div>
						<div class="glyphicons glyphicon-large shield">
							<i></i>
							<h4>Lorem Ipsum Dolor</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
						</div>
						<div class="separator bottom"></div>
						<div class="glyphicons glyphicon-large group">
							<i></i>
							<h4>Lorem Ipsum Dolor</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
						</div>
					</div>
				</div>
			</div>
	
		</div>
		<div class="span6">
		
			<div class="widget widget-heading-simple widget-body-white">
				<div class="widget-body">
					
					<div class="separator bottom"></div>
					<div class="glyphicons glyphicon-large iphone">
						<i></i>
						<h4>Lorem Ipsum Dolor</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
					</div>
				
					<div class="separator bottom"></div>
					<div class="glyphicons glyphicon-large magic group-column">
						<i></i>
						<h4>Lorem Ipsum Dolor</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
					</div>
			
				</div>
			</div>
		
		</div>
	</div>
	
	<p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>
	<div class="separator bottom"></div>
	
	<div class="row-fluid">
		<div class="span6">
		
			<!-- Carousel -->
			<div class="widget widget-heading-simple widget-body-simple">
				<div class="widget-body">
					<div class="carousel carousel-1 slide" id="myCarousel2">
						<div class="carousel-inner">
														<!-- Item -->
							<div class="item active">
								<div class="row-fluid">
									<div class="span5 relativeWrap">
										<div class="carousel-caption">
											<h4>Lorem Ipsum !</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br/> <a href="" target="_blank">Buy QuickAdmin</a></p>
										</div>
									</div>
									<div class="span7">
										<img src="../assets/gallery-2/8.jpg" alt="" />
									</div>
								</div>
							</div>
							<!-- // Item END -->
														<!-- Item -->
							<div class="item">
								<div class="row-fluid">
									<div class="span5 relativeWrap">
										<div class="carousel-caption">
											<h4>Lorem Ipsum !</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br/> <a href="" target="_blank">Buy QuickAdmin</a></p>
										</div>
									</div>
									<div class="span7">
										<img src="../assets/gallery-2/9.jpg" alt="" />
									</div>
								</div>
							</div>
							<!-- // Item END -->
														<!-- Item -->
							<div class="item">
								<div class="row-fluid">
									<div class="span5 relativeWrap">
										<div class="carousel-caption">
											<h4>Lorem Ipsum !</h4>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br/> <a href="" target="_blank">Buy QuickAdmin</a></p>
										</div>
									</div>
									<div class="span7">
										<img src="../assets/gallery-2/10.jpg" alt="" />
									</div>
								</div>
							</div>
							<!-- // Item END -->
													</div>
						<ol class="carousel-indicators">
							<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel2" data-slide-to="1"></li>
							<li data-target="#myCarousel2" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- // Carousel END -->
	
		</div>
		<div class="span6">
		
			<div class="widget widget-heading-simple widget-body-gray">
				<div class="widget-body">
					<h5>News</h5>
					<div class="glyphicons circle_info">
						<i></i>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
					</div>
				</div>
			</div>
			
			<!-- Widget -->
			<div class="widget widget-heading-simple widget-body-gray">
					
				<!-- Widget Heading -->
				<div class="widget-head">
					<h4 class="heading glyphicons twitter"><i></i>Twitter feed</h4>
				</div>
				<!-- // Widget Heading END -->
				
				<div class="widget-body">
					<section class="twitter-feed">
						<div class="row-fluid">
							<div class="span12">
								<div class="tweet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc lorem, rutrum non porta. <span class="label label-inverse">01/11/2012</span></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</section>
				</div>
			</div>
			<!-- // Widget END -->
		
		</div>
	</div>

</div>	
		</div>
		<!-- // Content END -->
		
		
	</div>
	<!-- // Main Container Fluid END -->

<!-- Themer -->
<div id="themer" class="collapse">
	<div class="wrapper">
		<span class="close2">&times; close</span>
		<h4>Themer <span>color options</span></h4>
		<ul>
			<li>Theme: <select id="themer-theme" class="pull-right"></select><div class="clearfix"></div></li>
			<li>Primary Color: <input type="text" data-type="minicolors" data-default="#ffffff" data-slider="hue" data-textfield="false" data-position="left" id="themer-primary-cp" /><div class="clearfix"></div></li>
			<li>
				<span class="link" id="themer-custom-reset">reset theme</span>
				<span class="pull-right"><label>advanced <input type="checkbox" value="1" id="themer-advanced-toggle" /></label></span>
			</li>
		</ul>
		<div id="themer-getcode" class="hide">
			<hr class="separator" />
			<button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less"><i></i>Get LESS</button>
			<button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css"><i></i>Get CSS</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- // Themer END -->

	<!-- JQuery -->
	<!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
	<!-- Code Beautify -->
	<!--<script src="../../common/theme/scripts/plugins/other/js-beautify/beautify.js"></script>
	<script src="../../common/theme/scripts/plugins/other/js-beautify/beautify-html.js"></script>
	
	<!-- Global -->
	<script>
	var basePath = '',
		commonPath = '../../common/';
	</script>
	
	<!-- JQueryUI -->
	<!--<script src="../../common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
	
	<!-- JQueryUI Touch Punch -->
	<!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
	<!--<script src="../../common/theme/scripts/plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	
	
	<!-- Modernizr -->
	<!--<script src="../../common/theme/scripts/plugins/system/modernizr.js"></script>
	
	<!-- Bootstrap -->
	<script src="../../common/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- SlimScroll Plugin -->
	<!--<script src="../../common/theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.js"></script>
	
	<!-- MegaMenu -->
	<!--<script src="../../common/theme/scripts/demo/megamenu.js?1374506533"></script>
	
	<!-- jQuery ScrollTo Plugin -->
	<!--[if gt IE 8]><!-->
	<!--<script src="http://balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script><!--<![endif]-->
	
	<!-- History.js -->
	<!--[if gt IE 8]><!-->
	<!-- <script src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script><!--<![endif]-->
	
	<!-- jQuery Ajaxify -->
	<!--[if gt IE 8]><!-->
	<!--<script src="../../common/theme/scripts/plugins/system/jquery-ajaxify/ajaxify-html5.js"></script><!--<![endif]-->
	
	
	<!-- Holder Plugin -->
	<!--<script src="../../common/theme/scripts/plugins/other/holder/holder.js?1374506533"></script>
	
	<!-- Uniform Forms Plugin -->
	<!--<script src="../../common/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

	<!-- Bootstrap Extended -->
	<!--<script src="../../common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
	<script src="../../common/bootstrap/extend/bootbox.js"></script>
	
	<!-- Google Code Prettify -->
	<!--<script src="../../common/theme/scripts/plugins/other/google-code-prettify/prettify.js"></script>
	
	<!-- MiniColors Plugin -->
	<!--<script src="../../common/theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors.js"></script>
	
	<!-- Cookie Plugin -->
	<!--<script src="../../common/theme/scripts/plugins/system/jquery.cookie.js"></script>
	
	<!-- Colors -->
	<script>
	var primaryColor = '#EB9600',
		dangerColor = '#b55151',
		successColor = '#609450',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	</script>
	
	<!-- Themer -->
	<script>
	var themerPrimaryColor = primaryColor;
	</script>
	<!--<script src="../../common/theme/scripts/demo/themer.js"></script>
	
	<!-- Common Demo Script -->
	<script src="../../common/theme/scripts/demo/common.js?1374506533"></script>
	