<% unless @questions.blank? %>
     <h3> Tell us more about your needs</h3>
                                  

					                    <div><% a = [] %>
					                    <% questions_ids = [] %>
					                    <% @questions.each_with_index do |q, i| %>	
					                    <label class="strong">
					                    </label><%= q.name %><% a.push(q.id) %>

					                    </div> 
					                    <div>
					                    <label class="strong"> </label>
					                    <%= select_tag "select", options_from_collection_for_select(q.subquestions.order(:name), "id", "name") %>
                                        
									    <% end %>
									 <label class="strong"> </label>
									
<% end %>
                   
                   

                        