<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		<div class="mid_contain">
		    
		    	<div class="widget widget-heading-simple widget-body-gray">
					
				  <div class="widget-body">
					<div class="page-header">
                            <h2>Create new post</h2> <%= link_to 'Back', posts_path, :class=>"btn btn-primary pull-right" %>
                          </div>
                             
                        
                          <div style="margin:0 auto 20px auto;text-align:center; color:green">
                                    <p id="notice"><%= notice %></p>
                          </div>



						<%= render 'form' %>

						
				  </div>
			   </div>
			
		</div>
	</div>
</div>