

.mid_contain
{
	border-radius: 0 0 0 0;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
}

.odd_class
{
    background-color:#f4f4f4;
}

.even_class
{
    background-color: #fff;
}
.error
{
	color: red;
}

#error_explanation
{
	color: red;
}
