 
.mid_contain
{
	border-radius: 0 0 0 0;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    width: 100%;
}

.odd_class
{
    background-color:#f4f4f4;
}

.even_class
{
    background-color: #fff;
}
.error
{
	color: red !important;
}

#error_explanation
{
	color: red ;
}
.user_body{
	width:96%;
	float:left;
	margin:0 2%;
}

.sep{

 margin :0 5px !important;
}