
<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		    <div class="container-960 innerT">
		    <div class="table-responsive">
		    <i class="icon-search icon-white"></i>
		    <%= link_to 'Create post', new_post_path, :class=>"btn btn-primary pull-right" %>
          <%= link_to(edit_user_registration_path(current_user),:class => 'btn btn-primary pull-right' ) do %>
                <i class="icon-edit icon-white"></i> Edit
              <% end %>


				<table class="table-striped table-bordered">
					The user profile  
				<% if current_user %>
				<tr>
				  <td>  Username :</td><td>  <%= current_user.username %></td></tr>
				  <tr>
				<td>	Email :</td><td><%= current_user.email %></td>
				</tr>

				 <% end%>
				</table>
				</div>
			</div>
		</div>
	</div>