		

		<div id="footer" class="hidden-print">
			
			<div class="container-960 innerTB">
				<div class="row-fluid">
					<div class="span2">
						<h4>Quick Links</h4>
						<ul>
							<li><!-- <a href="index.html?lang=en&amp;style=style-default-menus-light">Home</a> -->
							<%= link_to "Home", home_path %>
							</li>
							<li><!-- <a href="about.html?lang=en&amp;style=style-default-menus-light">About</a> -->
							<%= link_to "About", about_path %></li>
							<li><a href="">Pricing</a></li>
							<li><!-- <a href="blog.html?lang=en&amp;style=style-default-menus-light">Blog</a> -->
							<%= link_to "Blog", blog_path %>
							</li>
							<li><!-- <a href="contact.html?lang=en&amp;style=style-default-menus-light">Contact</a> -->
							<%= link_to "Contact", contact_path %>
							</li>
						</ul>
					</div>
					<div class="span4">
						<h4>About</h4>
						<div class="box-generic">
							Lorem Ipsum is simply dummy text of the printing and typesetting dustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div>
					</div>
					<div class="span3">
						<h4>Our Blog</h4>
						<ul>
							<li><a href="blog.html?lang=en&amp;style=style-default-menus-light">What is Lorem Ipsum?</a></li>
							<li><a href="blog.html?lang=en&amp;style=style-default-menus-light">What is Lorem Ipsum?</a></li>
							<li><a href="blog.html?lang=en&amp;style=style-default-menus-light">What is Lorem Ipsum?</a></li>
							<li><a href="blog.html?lang=en&amp;style=style-default-menus-light">What is Lorem Ipsum?</a></li>
							<li><a href="blog.html?lang=en&amp;style=style-default-menus-light">What is Lorem Ipsum?</a></li>
						</ul>
					</div>
					<div class="span3">
						<h4>Contact</h4>
						<ul class="icons">
							<li class="glyphicons phone"><i></i>01 230 1958</li>
							<li class="glyphicons envelope"><i></i>info@thenoticeboard.co.za</li>
						</ul>
						
						<h4>Social</h4>
						<a href="" class="glyphicons standard primary facebook"><i></i></a>
						<a href="" class="glyphicons standard twitter"><i></i></a>
						<a href="" class="glyphicons standard linked_in"><i></i></a>
						<a href="" class="glyphicons standard google_plus"><i></i></a>
						<a href="" class="glyphicons standard vimeo"><i></i></a>
					</div>
				</div>
				
				<!--  Copyright Line -->
				<div class="copy">
					&copy; 2013 - <a href="http://www.digitalvoodoo.co" target="_blank">Digital Voodoo</a>
					<span class="appbrand">The NoticeBoard</span>
				</div>
				<!--  End Copyright Line -->
				
			</div>
	
		</div>